<form (ngSubmit)="onAddItem()" [formGroup]="form" class="flex gap-x-5 items-center">
  <input [placeholder]="placehold | titlecase" class="px-4 py-2 rounded-2xl border" formControlName="title" type="text">
  <button
    class="flex px-4 py-2 justify-center items-center text-amber-50 bg-[#2383e2] text-sm border-1 shadow-lg rounded-lg transition-all hover:bg-[#0077d4]"
    type="submit">
    New
  </button>
</form>
<p *ngIf="title.errors?.required && clicked" class="text-red-600 font-medium mb-2">Fill the value</p>

