<article class="w-screen h-screen flex flex-col gap-y-5 justify-center items-center">
  <h1 class="text-2xl font-bold">Registration :3</h1>

  <form [formGroup]="form" class="w-80 flex flex-col gap-y-5 border p-4 rounded-2xl">
    <label for="telegram_id">Telegram ID</label>
    <input [class.border-red-500]="form.get('telegram_id')!.invalid && signUpBtnClicked" appNumberRegex
           class="px-2 py-2 border rounded-lg" formControlName="telegram_id"
           id="telegram_id" placeholder="1777223"
           type="text"
    />
    <label for="login">Login</label>
    <input [class.border-red-500]="form.get('login')!.invalid && signUpBtnClicked"
           class="px-2 py-2 border rounded-lg" formControlName="login" id="login" placeholder="John Doe" type="text"
    />
    <label for="password">Password</label>
    <input [class.border-red-500]="form.get('password')!.invalid && signUpBtnClicked"
           class="px-2 py-2 border rounded-lg" formControlName="password" id="password" placeholder="*********"
           type="password"/>
    <label for="second_password">Please write password again</label>
    <input [class.border-red-500]="form.get('secondPassword')!.invalid && signUpBtnClicked"
           class="px-2 py-2 border rounded-lg" formControlName="secondPassword" id="second_password"
           placeholder="*********" type="password"/>
    <p *ngIf="!!errorMessage" class="text-red-500">{{errorMessage}}</p>
    <button (click)="onRegister()"
            class="px-4 py-2 text-amber-50 bg-[#2383e2] shadow-lg rounded-xl transition-all hover:bg-[#0077d4]"
            type="submit">Sign
      up!
    </button>
    <div class="w-full flex justify-between text-sm underline transition-all hover:text-[#2383e2]">
      <button (click)="redirectToSignIn()">Already have an account?</button>
    </div>
  </form>

</article>
